
dist/
node_modules

.env
.env.local
.env.*.local

*.tsbuildinfo

logs
*.log
npm-debug.log*


pids
*.pid
*.seed
*.pid.lock

coverage/

.npm

.eslintcache

.DS_Store

.idea/
.vscode/

.prettierignore
.prettierrc
.eslintcache

package-lock.json

*.pgdata
*.pgadmin